<div class="row">
    <div class="col-md-6">
        <h3 id="month-title">{{ month }}</h3>
        <span id="month-savings-rate">Monthly Savings Rate</span>
        <span id="month-savings-rate-value"><strong>65%</strong></span>
        <span id="month-expenditure">Monthly Expenses</span>
        <span id="month-expenditure-value"><strong>$134.20</strong></span>
    </div>
</div>
<div class="row expense-section-container">
    <h4 class="table-title">Income</h4>
    <monthly-income-component [monthId]="monthId"></monthly-income-component>
</div>
<div class="row expense-section-container">
    <h4 class="table-title">Expenses</h4>
    <monthly-expense-component [monthId]="monthId"></monthly-expense-component>
</div>