:host /deep/ .expense-table {
    margin: 1em 0;
}

:host /deep/ .income-table {
    margin: 1em 0;
}

.expense-section-container {
    margin-top: 1.5em;
}

#month-title {
    text-transform: capitalize;
}

.table-title {
    margin-left: 15px;
}

#month-income, #month-expense {
    margin-left: 1em;
}

#month-income-value {
    color: #2D882D;
}

#month-expense-value {
    color: #AA3939;
}