<div class="row">
    <div class="col-md-12">
        <h3 id="month-title">{{ month }}</h3>
        <span id="month-savings-rate">Saving Rate</span>
        <span id="month-savings-rate-value"><strong>{{savingsRate}}%</strong></span>
        <span id="month-income">Income</span>
        <span id="month-income-value"><strong>{{totalIncome | currency : "USD" : true}}</strong></span>
        <span id="month-expense">Expenses</span>
        <span id="month-expense-value"><strong>{{totalExpense | currency : "USD" : true}}</strong></span>
    </div>
</div>
<div class="row expense-section-container">
    <h4 class="table-title">Income</h4>
    <monthly-income-component [monthId]="monthId" (incomeUpdatedEmitter)="onIncomeChanged($event)"></monthly-income-component>
</div>
<div class="row expense-section-container">
    <h4 class="table-title">Expenses</h4>
    <monthly-expense-component [monthId]="monthId" (expenseUpdatedEmitter)="onExpenseChanged($event)"></monthly-expense-component>
</div>