<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#expense-totals" aria-controls="expense-totals" role="tab" data-toggle="tab">Totals</a>
        </li>
        <li role="presentation">
            <a href="#expense-monthly" aria-controls="expense-monthly" role="tab" data-toggle="tab">Monthly</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="expense-totals" role="tabpanel" class="tab-pane active" [hidden]="shouldShowTotals()">
            <div class="col-md-12">
                <div class="row table-container">
                    <necessary-total-component></necessary-total-component>
                </div>
                <div class="row table-container">
                    <discretionary-total-component></discretionary-total-component>
                </div>
                <div class="row table-container">
                    <excess-total-component></excess-total-component>
                </div>
            </div>
        </div>
        <div id="expense-monthly" role="tabpanel" class="tab-pane" [hidden]="shouldShowMonthly()">
            <div class="col-md-12">
                <div class="row table-container">
                    <total-monthly-component></total-monthly-component>
                </div>
                <div class="row table-container">
                    <necessary-monthly-component></necessary-monthly-component>
                </div>
                <div class="row table-container">
                    <discretionary-monthly-component></discretionary-monthly-component>
                </div>
                <div class="row table-container">
                    <excess-monthly-component></excess-monthly-component>
                </div>
            </div>
        </div>
    </div>
</div>