<div class="row">
    <p-dataTable [value]="rowData">
        <p-column *ngFor="let columnDef of columnDefs; let colIndex = index"
                  [field]="columnDef.field"
                  [header]="columnDef.headerName">
            <template *ngIf="colIndex == 1" pTemplate="body" let-row="rowData">
                <span *ngIf="row['allocationType'] != 'Gains'">{{ row[columnDef.field] | currency : 'USD' : true }}</span>
                <span *ngIf="row['allocationType'] == 'Gains'">{{ row[columnDef.field] | percent : '1.2-2' }}</span>
            </template>
        </p-column>
    </p-dataTable>
</div>