<h4>{{ stockAccount.name }}</h4>
<!--<span>Cash remaining: <strong>{{ stockAccount.cash | currency : 'USD' : true }}</strong></span>-->
<div class="row">
    <div class="col-md-3 investment-cash-container">
        <div class="input-group input-group-">
            <span class="input-group-addon investment-cash-remaining-addon">Cash Remaining</span>
            <input type="text" class="form-control" [disabled]="!editModeToggle"
                   [ngModel]="stockAccount.cash | currency : 'USD' : true"
                   (blur)="updateStockAccountCash($event)"
            />
        </div>
    </div>
</div>
<p-dataTable [value]="stockAccount.stocks"
             [editable]="editModeToggle"
             (onEdit)="emitChanges()"
             *ngIf="tableRefreshToggle">

    <p-column *ngFor="let columnDef of columnDefs; let i = index"
              [field]="columnDef.field"
              [header]="columnDef.headerName"
              [editable]="i <= 7 && i % 2 == 1 || i == 0">

        <!--Symbol Columns-->
        <template *ngIf="columnDef.field == 'symbol'" pTemplate="type" type="body" let-row="rowData">
            <span>
                <a class="symbol-link"
                   href="{{ 'https://www.google.com/finance?q=' + row[columnDef.field] }}"
                   target="_blank">
                    {{ row[columnDef.field] }}
                </a>
            </span>
        </template>

        <!--Currency Columns-->
        <template
                *ngIf="columnDef.field == 'marketValue' || columnDef.field == 'sharePrice' || columnDef.field == 'bookValue'"
                pTemplate="type" type="body" let-row="rowData">
            <span>{{ row[columnDef.field] | currency : 'USD' : true }}</span>
        </template>

        <!--Percentage Columns-->
        <template
                *ngIf="columnDef.field == 'breakdown' || columnDef.field == 'managementFee' || columnDef.field == 'gain'"
                pTemplate="type" type="body" let-row="rowData">
            <span>{{ row[columnDef.field] | percent }}</span>
        </template>

        <template
                *ngIf="columnDef.field == 'updatedDate'"
                pTemplate="type" type="body" let-row="rowData">
            <span>{{ row[columnDef.field] }}</span>
        </template>

        <!--Delete Button-->
        <template
                *ngIf="columnDef.field == 'delete'"
                pTemplate="type" type="body" let-row="rowData">
            <button class="btn btn-custom-failure" (click)="deleteRow(row)"><span class="glyphicon glyphicon-remove"></span></button>
        </template>

    </p-column>
    <footer [hidden]="!editModeToggle">
        <button (click)="addRow()" type="button" class="btn btn-custom-success">
            <span class="glyphicon glyphicon-plus investment-account-add-button-fix"></span>
        </button>
    </footer>
</p-dataTable>