<h4>{{ stockAccount.name }}</h4>
<span>Cash remaining: <strong>{{ stockAccount.cash | currency : 'USD' : true }}</strong></span>
<p-dataTable [value]="stockAccount.stocks"
             [editable]="true"
             (onEdit)="emitChanges()">

    <p-column *ngFor="let columnDef of columnDefs; let i = index"
              [field]="columnDef.field"
              [header]="columnDef.headerName"
              [editable]="i <= 7 && i % 2 == 1 || i == 0">

        <!--Symbol Columns-->
        <template *ngIf="columnDef.field == 'symbol'" pTemplate="type" type="body" let-row="rowData">
            <span>
                <a class="symbol-link"
                   href="{{ 'https://www.google.com/finance?q=' + row[columnDef.field] }}"
                   target="_blank">
                    {{ row[columnDef.field] }}
                </a>
            </span>
        </template>

        <!--Currency Columns-->
        <template *ngIf="columnDef.field == 'totalValue' || columnDef.field == 'sharePrice' || columnDef.field == 'bookValue'"
                  pTemplate="type" type="body" let-row="rowData">
            <span>{{ row[columnDef.field] | currency : 'USD' : true }}</span>
        </template>

        <!--Percentage Columns-->
        <template *ngIf="columnDef.field == 'breakdown' || columnDef.field == 'managementFee' || columnDef.field == 'gain'"
                  pTemplate="type" type="body" let-row="rowData">
            <span>{{ row[columnDef.field] | percent }}</span>
        </template>
    </p-column>
    <footer [hidden]="!editModeToggle"><button (click)="addRow()" type="button" class="btn btn-default" aria-label="Left Align" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button></footer>
</p-dataTable>