<div class="row">
    <div class="col-md-5">
        <span>{{ month }}</span>
        <span>Monthly Savings Rate 65%</span>
        <span>Monthly Expenses 9000</span>
    </div>
</div>
<div class="row">
    <income-budget-component></income-budget-component>
    <investment-budget-component></investment-budget-component>
</div>

<div class="row">
    <necessary-expense-budget-component></necessary-expense-budget-component>
    <discretionary-expense-budget-component></discretionary-expense-budget-component>
    <excess-expense-budget-component></excess-expense-budget-component>
</div>