<div class="row">
    <div class="col-md-5">
        <span>{{ month }}</span>
        <span>Monthly Savings Rate 65%</span>
        <span>Monthly Expenses 9000</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <payroll-component></payroll-component>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <income-budget-component></income-budget-component>
    </div>
    <div class="col-md-6">
        <investment-budget-component></investment-budget-component>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <necessary-expense-budget-component></necessary-expense-budget-component>
    </div>
    <div class="col-md-6">
        <discretionary-expense-budget-component></discretionary-expense-budget-component>
        <excess-expense-budget-component></excess-expense-budget-component>
    </div>
</div>