<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <a id="nav-brand" routerLink="/home" routerLinkActive="active">FIRE</a>
            </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/instructions" routerLinkActive="active">Instructions</a></li>
                <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                <li><a routerLink="/networth" routerLinkActive="active">Net Worth</a></li>
                <li><a routerLink="/investments" routerLinkActive="active">Investments</a></li>
                <li><a routerLink="/expenses" routerLinkActive="active">Expenses</a></li>
                <li><a [routerLink]="['/months', 'January']" routerLinkActive="active">January</a></li>
                <li><a [routerLink]="['/months', 'February']"  routerLinkActive="active">February</a></li>
                <li><a [routerLink]="['/months', 'March']"  routerLinkActive="active">March</a></li>
                <li><a [routerLink]="['/months', 'April']"  routerLinkActive="active">April</a></li>
                <li><a [routerLink]="['/months', 'May']"  routerLinkActive="active">May</a></li>
                <li><a [routerLink]="['/months', 'June']"  routerLinkActive="active">June</a></li>
                <li><a [routerLink]="['/months', 'July']"  routerLinkActive="active">July</a></li>
                <li><a [routerLink]="['/months', 'August']"  routerLinkActive="active">August</a></li>
                <li><a [routerLink]="['/months', 'September']"  routerLinkActive="active">September</a></li>
                <li><a [routerLink]="['/months', 'October']"  routerLinkActive="active">October</a></li>
                <li><a [routerLink]="['/months', 'November']"  routerLinkActive="active">November</a></li>
                <li><a [routerLink]="['/months', 'December']"  routerLinkActive="active">December</a></li>
            </ul>
        </div>
    </div>
</nav>
