<div class="row income-table">
    <button (click)="logData()">logData</button>
    <p-dataTable [value]="payrollData"
                 [editable]="true">
        <p-column *ngFor="let columnDef of columnDefs; let i = index"
                  [field]="columnDef.field"
                  [header]="columnDef.headerName"
                  [editable]="i > 0">   <!-- first column should not be editable -->
            <template *ngIf="i > 0" let-col let-payroll="rowData" pTemplate type="body">
                <span>{{ payroll[col.field] | currency : 'USD' : true }}</span>
            </template>
        </p-column>
    </p-dataTable>
</div>
