<div class="row">
    <h3>Investment Summary</h3>
    <div class="col-md-4">
        <investment-summary-component [investment]="investment"></investment-summary-component>
    </div>
</div>

<div id="stock-edit-container" class="row">
    <h3>Stock Accounts</h3>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" (click)="toggleEditActions()">
                <span id="investment-edit-toggle" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-custom-success" data-toggle="modal"
                    data-target="#new-investment-account-modal" *ngIf="editModeToggle">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Account
            </button>
        </div>
    </div>
</div>

<div class="row investment-account-container" *ngFor="let stockAccount of investment.accounts">
    <investment-account-component
            [stockAccount]="stockAccount"
            (investmentUpdatedEmitter)="markEntityChanged()"
            [editModeToggle]="editModeToggle">
    </investment-account-component>
</div>

<!-- New Account Modal -->
<div id="new-investment-account-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-account-modal-label">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title" id="new-account-modal-label">Account Details</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" placeholder="My stock account" [(ngModel)]="newAccountName">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Cash</span>
                    <input type="text" class="form-control" placeholder="Cash Available" [(ngModel)]="newAccountCash">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-success" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addStockAccount()">Save changes</button>
            </div>
        </div>
    </div>
</div>